		<div class="card">
            <!-- /.card-header -->
            <div class="card-header">
			  <small class="float-left"><h3 class="custom-font" style="font-family: 'Y2K Neophyte'; font-weight: normal; font-style: normal;">Catalogo de vistas</h3></small>
            </div>
            <div class="card-body">
		
				<!-- Main content -->
				<section class="content">
				  <div class="row">
					<div class="col-md-12">					
					  <div class="box box-primary">
						<div class="box-body no-padding">
						
						
<div class="alert alert-primary" role="alert">
  <h4 class="alert-heading">SOLO PARA PROPOSITOS DE DEMOSTRACION</h4>
  <p>&Eacute;sta vista no ser&aacute; visible en la versi&oacute;n final, representa un &iacute;ndice puesto que el men&uacute; de la izquierda a&uacute;n no re-direcciona a ninguna parte.</p>
  <hr>
  <p class="mb-0">La siguiente lista indica la posible navegaci&oacute;n, algunas vistas estan duplicadas (solo el modulo de Cotizaciones), pues puede ser utilizada tanto para rentas como para servicios, y cada vista tiene a su vez, uno o m&aacute;s "modales" (ventanas emergentes), para acceder a dichos "modales", presione los botones "<button class="btn btn-primary">+ Agregar</button> y/o <button class="btn btn-success"><i class="fa fa-eye"></i> Ver</button>" cada vez encuentre uno.</p>
</div>
						
							<h4>&Iacute;ndice</h4>
							<ol>
								<li><a href="?view=dashboard&action=index" target="_blank">Dashboard (tablero de estadisticas & acceso directo a funciones basicas)</a></li>
								<li><a href="?view=usuarios&action=index" target="_blank">Usuarios</a></li>
								<li><a href="?view=empleados&action=index" target="_blank">Empleados</a></li>
								<li><a href="?view=clientes&action=index" target="_blank">Clientes</a></li>
								<li><a href="?view=cotizaciones&action=index" target="_blank">Cotizaciones </a>(Plantilla para Rentas y/o servicios)
									<ul>
										<li><a href="?view=cotizaciones&action=datos-cliente-entrega" target="_blank">Datos de cliente, entrega y unidades </a>(Plantilla para Rentas y/o servicios)</li>
										<li><a href="?view=cotizaciones&action=estado-orden" target="_blank">Orden </a>(Plantilla para Rentas y/o servicios)</li>
										<li><a href="?view=cotizaciones&action=historial" target="_blank">Historial </a>(Plantilla para Rentas y/o servicios)</li>
									</ul>
								</li>
								<li><a href="?view=caja-chica&action=index" target="_blank">Caja chica</a></li>
							</ul>
						</div>
						<!-- /.box-body -->
					  </div>
					  <!-- /. box -->
					</div>
					<!-- /.col -->
				  </div>
				  <!-- /.row -->
				</section>
				<!-- /.content -->
		
			</div>
		</div>
		
